.wrapper {
    width: var(--main-page-width);
    background-color: var(--white);
    overflow: hidden;
    padding: 0 30px 50px 30px;
}

.block {
    display: flex;
    margin-top: 30px;
    .left-block {
        max-width: var(--left-block-width);
    }

    .middle-block {
        width: calc(100% - var(--left-block-width));
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
    .block {
        display: block;
    }
}
