.wrapper {
    width: var(--main-page-width);

    background-color: var(--white);
    overflow: hidden;
    padding: 0 30px 50px 30px;
}

.block {
    display: flex;
    margin-top: 30px;
}

.middle-block {
}
