.wrapper {
    height: 100%;
    border-radius: 3px;
}

.header {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;

    line-height: 62px;
    min-height: 62px;
    max-height: 62px;
    padding: 10px 0;

    input {
        min-height: 46px;
        max-height: 46px;
        max-width: 20px;
        min-width: 20px;
        margin-right: 40px;
    }

    .header-name,
    .header-place,
    .header-sex,
    .header-groups {
        padding: 0 12px;
        font-weight: 500;
    }

    .header-name {
        width: 180px;
        margin-left: 50px;
    }

    .header-sex {
        width: 100px;
    }

    .header-place {
        width: 240px;
    }

    .header-groups {
        margin-left: 40px;

        width: 160px;
    }
}

.info {
    display: flex;
    max-height: 56px;
    width: fit-content;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid #ccc;
    margin-bottom: 8px;
    font-size: 1.4rem;
    input {
        min-height: 46px;
        max-height: 46px;
        max-width: 20px;
        min-width: 20px;
        cursor: pointer;
    }

    .image {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 30px;
    }

    .name {
        width: 180px;
        font-weight: 600;
        color: #7e5037;
    }

    .sex {
        width: 100px;
    }

    .place-date {
        width: 260px;
        display: flex;
    }

    .groups {
        width: 140px;
        max-width: 140px;
    }
}

.info {
    .input-avt {
        display: flex;
        align-items: center;
        max-width: 120px;
        min-width: 120px;
    }
}

.name,
.sex,
.place-date,
.groups {
    display: flex;
    align-items: center;
    height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
}

@media (max-width: 768px) {
    .header {
        font-size: 1.4rem;
        text-align: center;
        .header-name {
            padding: 0 6px;
            width: 120px;
        }

        .header-place {
            padding: 0 6px;
            width: 220px;
        }
        .header-sex {
            width: 80px;
            padding: 0 6px;
        }
        .header-groups {
            width: 140px;
            padding: 0 6px;
            margin-left: 20px;
        }
    }
    .info {
        .name {
            max-width: 120px;
            font-size: 1.3rem;
        }

        .sex {
            width: 80px;
            font-size: 1.3rem;
        }

        .place-date {
            max-width: 220px;
            font-size: 1.3rem;
        }

        .groups {
            width: 100px;
            font-size: 1.3rem;
        }
    }
}
